[submodule "libraries/red-iron"]
	path = libraries/red-iron
	url = https://github.com/ItsSeaJay/red-iron.git
[submodule "libraries/parsedown"]
	path = libraries/parsedown
	url = https://github.com/erusev/parsedown.git
