body,
html
{
  background-color: #FAFAFA;
  height: 100%;
  margin: 0;
}

header
{
  background-color: #FF0000;
}

footer
{
  background-color: #00FF00;
  height: 64px;
  margin-top: -50px;
}

#content
{
  padding: 100%;
  background-color: #FFFFFF;
}

.page-wrapper
{
  min-height: 100%;
  background-color: #666666;
}
